
<footer class="footer mt-4">

	<div class="container mt-3">

      <div class="row justify-content-center">
        <div class="col-lg-3 col-sm-5">
          <p>Спасибо за просмотр.<br>
          Идите нахуй)</p>
        </div>
        <div class="col-lg-3 col-sm-5">
        <a class="text-white"
           href='https://instagram.com/emma.stone.lover?r=nametag'>
           Instagram
        </a><br>
        <a class="text-white"
           href="https://vk.com/pigeons_rule_the_world">
           VK
        </a>
      </div>
      </div>

  </div>

</footer>

 <!-- justify-content-center -->
