
<footer class="footer mt-4">

	<div class="container mt-3">

      <div class="row justify-content-center">
				<div class="col-md-7 col-lg-7 col-sm-12 text-center">
					<p>Спасибо за просмотр. Идите нахуй)</p>
					<hr>
					<a class="text-white"
						 href='https://instagram.com/emma.stone.lover?r=nametag'>
						Instagram
					</a>
					<a class="text-white"
						 href="https://m.vk.com/pigeons_rule_the_world">
						VK
					</a>
				</div>
			</div>

  </div>

</footer>

 <!-- justify-content-center -->
