<form class="card-header p-md-4 p-lg-2" method="post" enctype="multipart/form-data">
  <div class="ml-md-3 ml-xl-2 mt-md-3 mb-md-4 mt-xl-1 mb-xl-1">
    <h4>Добавить новость</h4>
  </div>
  {% csrf_token %}
  <span>{{ error }}</span>
  <div class="mb-md-4 mb-lg-3">
    {{ form.text }}
  </div>
  {% if user.is_authenticated %}
    <div id="msg_input_user_hide"
         style="display:none;">
      {{ form.user }}
    </div>
  {% else %}
    <div id="msg_input_user_hide">
      {{ form.user }}<br>
    </div>
  {% endif %}
  <div id="msg_img_add_div">
    <button id="msg_input_add_hide"
            @click="msg_input_adds = !msg_input_adds"
            type="button"
            class="msg_input_button btn bg-dark text-white p-1
                  mb-md-2 pr-md-4 pr-lg-2 pl-md-4 pl-lg-3 rounded">
      Дополнительно 
      <span class="ml-2">{% include 'msg/icons/more.svg' %}</span>
    </button>
    <div id="msg_input_add_hide_div"
         :class="{'d-block': !msg_input_adds}"
         class="d-none z-index-property">
      <div class="form-group mt-md-3 mt-lg-1">
        {{ form.picture_file }}
        <label for="msg_input_picture_file"
               class="msg_input_text_and_bg_color pl-md-4 pl-lg-3 pr-md-4 pr-lg-3
               form-control text-white bg-dark rounded">
          <div class="row justify-content-between">
            <span class="col-6">Загрузить фото</span>
            <span class="col-2 text-right">
              {% include 'msg/icons/image.svg' %}
            </span>
          </div>
        </label>
      </div>
      <div class="bs-component">
        <div class="form-group mt-md-3 mt-lg-1">
          {{ form.card_bg_color_choice }}
        </div>
        <div class="form-group mt-md-3 mt-lg-1 mb-md-2 mb-lg-1">
          {{ form.card_font_color_choice }}
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-between mb-md-3 mb-lg-0">
    <div class="col-5">
      <button id="msg_input_button"
              type="submit"
              class="msg_input_button btn btn-success mt-md-3 mt-lg-2
              pl-md-4 pr-md-4 pl-lg-3 pr-lg-3 rounded">
        Отправить
      </button>
    </div>
    <div class="col-3 d-sm-none d-xl-block">
      <a class="nav-link text-secondary text-right p-0 m-0 pt-4 pr-1"
         href="#">
        вверх
        {% include 'msg/icons/arrow-up-short.svg' %}
      </a>
    </div>
  </div>
</form>