<a class="nav-link p-0" href="/msg/{{m.id}}" name="{{m.id}}">
	<span id="msg{{m.id}}"></span>
	<div id="msg_id"
			 class="msg_msgs card {{ m.card_bg_color_choice }} mb-4 p-0 rounded
					overflow-hidden {{ m.card_font_color_choice }} border-0">
		{% if m.picture_file != 'none' or m.picture != 'none' %}
			<div class="row card_header overflow-hidden">
				<div class="col-xl-8 msg_text pl-4 pt-2">
					{{ m.text|safe|linebreaks }}
				</div>
				<div class="col-xl-4 card_img overflow-hidden text-right">
					{% if m.picture_file != 'none' %}
						<img class="rounded" src="/media/{{ m.picture_file }}">
					{% endif %}
					{% if m.picture != 'none' %}
            <img class="rounded" src="{{ m.picture }}">
          {% endif %}
				</div>
			</div>
		{% else %}
			<div class="row card_header p-1 pr-2 pl-2">
				<div class="msg_text">
					{{ m.text|safe|linebreaks }}
				</div>
			</div>
		{% endif %}
		<div class="card_body p-md-4 p-lg-2">
			<span class="card_text float-right">
				{% if m.admin_news == True %}
					<span>✓</span>
				{% endif %}
				{% if m.comment_set.count > 0 %}
					{% include 'msg/icons/chat-right.svg' %}
					<span>{{m.comment_set.count}}</span>
				{% endif %}
				<span>{{ m.date|date:'d.m.Y' }}</span>
				{% if m.top == 'True' %}
					{% include 'msg/icons/pin-angle.svg' %}
				{% endif %}
			</span>
			<span class="msg_user card-title">
				{{ m.user }}
			</span>
		</div>
	</div>
</a>
