<a class="nav-link p-0" href="/msg/{{m.id}}">
	<div id="msg_id"
			 class="msg_msgs card {{ m.card_bg_color_choice }} mb-4 p-0 rounded
														{{ m.card_font_color_choice }} border-0">
		<div class="card-header p-md-4 p-lg-2">
			{{ m.text|safe|linebreaks }}
		</div>
		<div class="card-img">
			{% if m.picture != 'none' %}
				<img src="{{ m.picture }}">
			{% endif %}
			{% if m.picture_file != 'none' %}
				<img src="/media/{{ m.picture_file }}">
			{% endif %}
		</div>
		<div class="card-body p-md-4 p-lg-2">
			<span class="card-text float-right">
				{% if m.admin_news == True %}
					<span>✓</span>
				{% endif %}
				{% if m.comment_set.count > 0 %}
					{% include 'msg/icons/chat-right.svg' %}
					<span>{{m.comment_set.count}}</span>
				{% endif %}
				<span>{{ m.date|date:'d.m.Y' }}</span>
				{% if m.top == 'True' %}
					{% include 'msg/icons/pin-angle.svg' %}
				{% endif %}
			</span>
			<span class="card-title">
				{{ m.user }}
			</span>
		</div>
	</div>
</a>
