{% extends 'wrapper.html' %}

{% block title %} <title>Вход в аккаунт</title> {% endblock %}

{% block static %} <link rel="stylesheet" href="/static/css/login.css"> {% endblock %}

{% block content %}

		<div class="row justify-content-center">
      <div id="login_input"
           class="w-100 mb-5 rounded">
        <div class="m-4">
					<h4 class="text-center">Вход в аккаунт</h4>
        </div>
        <form class="card-body m-sm-3 m-md-2 m-lg-1"
              method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
					<div class="row mb-2">
						<div class="col-md-3 col-lg-2 mt-lg-2"><p>Логин:</p></div>
						<div class="col-md-9 col-lg-10 login_password">{{ form.username }}</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-lg-2 mt-lg-2"><p>Пароль:</p></div>
						<div class="col-md-9 col-lg-10 login_password">{{ form.password }}</div>
					</div>
					<div class="row justify-content-end mr-2">
						<button id=""
										type="submit"
										class=" btn btn-success mt-3 rounded">
							Войти
						</button>
					</div>
        </form>
      </div>
		</div>

{% endblock %}
