{% extends 'wrapper.html' %}

{% block title %} <title>О сайте</title> {% endblock %}

{% block static %} <link rel="stylesheet" href="/static/main/css/about.css"> {% endblock %}


{% block content %}
<div class="container mt-2">
  <h1>Это страница о сайте</h1>
  <p>Этот сайт сделал Миша</p>
  <!-- <img src="http://flashsiberia.com/sites/default/files/uploads/main/kot-basmach.jpg"> -->
  <span><img src="/static/main/img/3.jpg"></span>
  <span>
    <img src="https://cdn2.avtoradio.ru/vardata/modules/news/files/10/91370/news_file_91370_59ce17cb0e62c.jpg">
  </span>
  <p>Миша классссссный</p>
  <p>Мяу</p>
</div>
{% endblock %}
