{% extends 'wrapper.html' %}

{% block title %} <title>Главная страница</title> {% endblock %}

{% block static %} <link rel="stylesheet" href="/static/main/css/home.css"> {% endblock %}

{% block content %}
<div class="container mt-2">
  <h1>Привет, ты на сайте Котики Ашотики!!!</h1>
  <p>Ашотик рад что ты зашел)</p>
  <a class="btn btn-warning" href="{% url 'about' %}">Страница о сайте</a><br><br>
  <span><img src="/static/main/img/5.jpg"></span>
  <span><img src="/static/main/img/2.svg"></span>
  <p>Тут есть и другие котики</p>
  <p>Это ты)</p>
</div>
{% endblock %}
