.login_password input {
	display: block;
	height: calc(1.5em + .75rem + 2px);
	padding: .375rem .75rem;
	width: 100%;
	border: none;
}
@media (min-width:992px) {
#login_input {max-width: 500px;}
.login_password input {
	border-radius: 0.5rem!important;
	}
}
@media (max-width:991px) {
	.login_password input {
		width: 100%;
		border-radius: 0.8rem!important;
	}
	#login_input svg {width: 2.7rem; height: 2.7rem;}
}
