{% extends 'wrapper.html' %}
{% block title %}
  <title>Помойка</title>
{% endblock %}
{% block static %}
  <link  rel="stylesheet" href="/static/msg/css/msg.css">
{% endblock %}
{% block content %}
<div class="row justify-content-between" id="app">
  <div class="col-xl-5"> <!--------------------------- Помойка, Пример, Добавить -->
    <div class="row-xl">
      <div id="msg_title_and_input" class="col-xl-4">
        <!--------------------------------------------------- Помойка и Добавить -->
        <div id="msg_title" class="row justify-content-between">
          <div class="col-7">
            <h1 class="align-left mb-4">
              Помойка
            </h1>
          </div>
          <div class="col-5">
            <div class="d-flex justify-content-end">
              <button id="msg_input_show_button"
                      @click="msg_input = !msg_input"
                      class="btn btn-success pl-4 pr-4 rounded"
                      type="button">
                  {% include 'msg/icons/plus-circle.svg' %} Добавить
              </button>
            </div>
          </div>
        </div>
        <div id="msg_example" class="justify-content-end"> <!---- Пример новости ----->
          <div class="msg" style="display: none;"
               v-show=" vue_text != '' ">
            <div class="nav-link p-0">
              <div id="msg_id"
                   :class="[vue_card_bg_color_choice, vue_card_font_color_choice]"
                   class="msg_msgs_example card mb-4 p-0 border-0 rounded">
                <div class="card_header p-md-4 p-lg-2"
                  v-html="vue_text">
                </div>
                <div id="input_image">
                </div>
                <div class="card-body p-md-4 p-lg-2">
                  <span class="card-text float-right">
                    {% if user.is_authenticated %} ✓ {% endif %}
                    29.01.2021
                  </span>
                  <span class="card-title">
                    [[ vue_user ]]
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------------------------------------------------ Добавить новость ------>
        <div id="msg_input"
             :class="{'d-md-block': !msg_input, 'd-xl-none': msg_input}"
             class="d-md-none d-xl-block bg-dark text-white mb-4 rounded">
          {% include 'msg/includes/input.html' %}
        </div>
      </div>
    </div>
  </div>
  <div id="msg_search_and_msgs" class="col-xl-7"> <!----------------------------- Поиск, Новости -------->
    <div id="msg_search" class="input-group"> <!----- Поиск по новостям -------->
      <button class="input-group-text bg-dark text-white pl-md-4 pr-md-4 mb-4 pl-lg-3 pr-lg-3 border-0 rounded-left"
            id="msg_search_input_button_clear" type="button">
        {% include 'msg/icons/backspace.svg' %}
      </button>
      <input id="msg_search_input"
             class="msg_search form-control bg-dark text-white mb-4 border-0"
             aria-describedby="button-addon4"
             placeholder="Поиск"
             type="text">
      <button class="input-group-text bg-dark text-white pl-md-5 pr-md-4
                pl-lg-4 pr-lg-3 mb-4 border-0 rounded-right"
            id="msg_search_input_button_find" type="button">
        {% include 'msg/icons/search.svg' %}
      </button>
    </div>
    <p id="msg_not_found"
       style="display: none;">
      Ничего не нашел
    </p>
    <div class="msg"> <!------------------------------- Закрепленные новости ---->
      {% for m in message %}
        {% if m.top == 'True' %}
          {% include 'msg/includes/new.html' %}
        {% endif %}
      {% endfor %}
    </div>
    <div class="msg"> <!----------------------------------- Новости ------------->
      {% if message %}
      {% for m in message %}
        {% if m.top == 'False' %}
          {% include 'msg/includes/new.html' %}
        {% endif %}
      {% endfor %}
      {% else %}
      <div class="container">
        <p>Новостей нет</p>
      </div>
      {% endif %}
    </div>
  </div>

</div>

{% endblock %}

{% block js %}
  <script src="/static/msg/js/vue.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/msg/js/msg.js"></script>
{% endblock %}
