{% extends 'wrapper.html' %}

{% block title %} <title>ЬУЬ</title> {% endblock %}

{% block static %}
  <link rel="stylesheet" href="/static/msg/css/msg.css">
{% endblock %}

{% block content %}

<div class="row">

{% for msg in message %}
	<div class="{%if msg.picture_file != 'none' or msg.picture != 'none' %}
              col-lg-7{%else%}col-lg-5{%endif%}">
    <a class="btn btn-success rounded mb-md-4 mb-lg-3
              pl-md-4 pr-md-4 pl-lg-3 pr-lg-3"
       href="/msg/#msg{{msg.id}}">
      Назад
    </a>
      <div id=""
           class="msg_msgs card {{ msg.card_bg_color_choice }} mb-4 p-0 rounded
                                {{ msg.card_font_color_choice }} border-0">
        <div class="card-header">
          {{ msg.text|safe|linebreaks }}
        </div>
        <div class="card-img">
          {% if msg.picture != 'none' %}
            <img class="w-100" src="{{ msg.picture }}">
          {% endif %}
          {% if msg.picture_file != 'none' %}
            <img class="w-100" src="/media/{{ msg.picture_file }}">
          {% endif %}
        </div>
        <div class="card-body">
          <span class="card-text float-right">
            {% if msg.admin_news == True %} ✓ {% endif %}
            {{ msg.date|date:'H.i  d.m.Y' }}
          </span>
          <span class="card-title">
            {{ msg.user }}
          </span>
        </div>
      </div>

	</div>

  <div class="{%if msg.picture_file != 'none' or msg.picture != 'none'%}
              col-lg-5{%else%}col-lg-7{%endif%}">
    {% if request.user.username == 'volkovmb' %}
    <a class="btn btn-warning rounded mb-md-4 mb-lg-2 mr-2"
       href="/admin/msg/message/{{msg.id}}/change">
      Изменить
    </a>
    <a class="btn btn-danger rounded mb-md-4 mb-lg-2"
       href="/admin/msg/message/{{msg.id}}/delete">
      Удалить
    </a>
    {% endif %}

    <div class="mt-3">
      {% if user.is_authenticated %}
        <form method="post"
              enctype="multipart/form-data">
          {% csrf_token %}
          {{ form.text }}
          <div class="row justify-content-md-end ml-1 mr-1">
            <button class="col-md-4 col-lg-3 btn btn-success rounded"
                    type="submit">
              Отправить
            </button>
          </div>
        </form>
      {% else %}
        <div class="row justify-content-between mr-1">
          <div class="col-9 pr-0">
            <p class="mt-2">Чтобы написать комментарий</p>
          </div>
          <div class="col-2 pl-0 pr-0 text-right">
            <a class="btn btn-info rounded"
               href="{% url 'login' %}">
              Войти
            </a>
          </div>
        </div>
      {% endif %}
    </div>


    <div id="comments">
      <h3>Комментарии:
        {% if comments.count > 0 %} {{comments.count}}{% endif %}
      </h3>
      {% if comments %}
        {% for m in comments %}
          <div class="mt-md-4 mt-lg-3 p-2 bg-dark text-white rounded">
            <p class="ml-md-3 ml-lg-1 mt-md-2 mt-lg-1 mb-md-2 mb-lg-0">
              {{ m.text|safe }}
            </p>
            <hr class="m-lg-2">
            <div class="row">
              <div class="col-6">
                <p class="ml-md-3 ml-lg-1 mb-0 pr-1">
                  {{ m.user.first_name }}
                </p>
              </div>
              <div class="col-6">
                <p class="mr-md-3 mr-lg-1 mb-md-2 mb-lg-0 text-right">
                  {{ m.date|date:'H.i d.m.Y' }}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
        <br>
      {% else %}

        <p>Комментариев не будет, они приняли Ислам</p>

      {% endif %}
    </div>

  </div>

{% endfor %}
</div>

{% endblock %}

{% block js %}
  <script src="/static/msg/js/vue.js"></script>
  <script type="text/javascript"
          src="/static/msg/js/msg_id.js">
  </script>
{% endblock %}
