{% extends 'wrapper.html' %}

{% block title %} <title>Личные сообщения</title> {% endblock %}

{% block static %}
  <link rel="stylesheet" href="/static/msg/css/privat.css">
{% endblock %}

{% block js %}
  <script src="/static/msg/js/vue.js"></script>
  <script type="text/javascript"
          src="/static/msg/js/privat.js">
  </script>
{% endblock %}

{% block content %}

{% if user.is_authenticated and user.username == 'volkovmb' or user.is_authenticated and user.username == 'zenkinada' %}
{{ smth|json_script:"smth" }}

 <div id="app">

  <form id="input"
        class="row w-100 p-5 bg-dark"
        method="post">
    <div class="col-11">
      {% csrf_token %}
      {{form.text}}
    </div>
    <div class="col-1 p-0 m-0">
      <button class="btn btn-info pr-4 pl-4"
              type="submit">
        >
      </button>
    </div>
    <br><br><br>
  </form>
  <br>
  <div class="text-center">
    <h2>Сообщения для Даши и Миши</h2>
  </div>
  <br>
  <div class="">
    {% for msg in messages %}

      <div class="row mb-3
          {% if user.username == msg.user.username %}
            justify-content-end
          {% endif %}">
        <div id="msg"
             class="col-11 p-3 pl-4 pr-4 text-white
             {% if user.username == msg.user.username %} bg-info
             {% else %} bg-dark
             {% endif %}">
          <p class="">{{ msg.text|safe }}</p>
          <p class=" text-right mb-0">
            {% if msg.user.first_name == 'Админ'%} Миша,
            {% else %} {{msg.user.first_name}},
            {% endif %}
            {{ msg.date|date:'H.i d.m.Y' }}
          </p>
        </div>
      </div>


    {% endfor %}
  </div>
 </div>


{% else %}
  <div class="row justify-content-center">
    <h1>Идите нахуй, это не вам не доступно</h1>
  </div>
{% endif %}

{% endblock %}
