{% extends 'wrapper.html' %}

{% block title %} <title>Вход в аккаунт</title> {% endblock %}

{% block static %} <link rel="stylesheet" href="/static/css/login.css"> {% endblock %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<br>
	<div class="login_content">
		<div class="row">
			<div class="col-lg-10">
				<h1>Привет, {{ user.username }}</h1><br>
				<h4>Какая-то инфа о тебе:</h4>
				<p> Твои инициалы:  <big class="text-success">{{ user.last_name }} {{ user.first_name }}</big></p>
				{% if user.email %}
				<p>Твоя почта: <big class="text-success">{{ user.email|linebreaks }}</big></p>
				{% endif %}
			</div>
			<div class="col-lg-2 mb-4"><br>
				<a class="btn btn-danger rounded" href="{% url 'logout' %}">Выйти</a>
			</div>
		</div>
	</div>

	{% else %}

	<div class="row justify-content-center">

			<h3>Ты не вошел, тебе </h3>
			<span>
				<a class="btn btn-info ml-2" href="{% url 'login' %}">сюда</a>
			</span>

	</div>

	{% endif %}

</div>
</div>
{% endblock %}
